<!DOCTYPE html>

<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Rails360</title>
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-inverse navbar-static-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>Rails</b>360</a>
          </div>

          <span id="main-nav-menu" data-turbolinks-temporary>
            <ul class="nav navbar-nav">
               <li> <%= link_to(t("common.topic_list"), topics_path) %> </li>

               <% if current_user %>
                <li> <%= link_to(t("common.picture_list"), pictures_path) %> </li>
               <% end %>
            </ul>
          </span>

          <%= render "common/user_nav" %>
        </div>
      </nav>
    </div>

    <div id="main" class="main-container container">
      <%= notice_message %>
      <%= yield %>
    </div>

    <%#= render 'common/footer' %>
  </body>
</html>

<script type="text/javascript">
  // 设置语言
  App.locale = "<%= I18n.locale %>";
</script>
